<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="../css/ViewClasses.css">
    <link rel="stylesheet" href="../css/searchForm.css">
</head>
<body onload="createMatch()">
    <nav>
        <div class="wrapper">
          <!-- LOGO USER -->
          <div class="logo"><a href="/User_Menu">User</a></div>
    
          <input type="radio" name="slider" id="menu-btn">
          <input type="radio" name="slider" id="close-btn">
          <ul class="nav-links">
            <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
            <!-- NAVBAR - HOME -->
            <li><a href="/User_Menu">Home</a></li>
    
            <!-- NAVBAR - PLAY -->
            <li><a href="/User_Play">Gioca</a></li>
    
            <!-- NAVBAR - GAME MENU -->
            <li><a href="#" class="desktop-item">Game Menu</a>
              <input type="checkbox" id="showDrop">
              <label for="showDrop" class="mobile-item">Game Menu</label>
              <ul class="drop-menu">
                <li><a href="/User_ViewClasses">View Classes</a></li>
                <li><a href="/User_SearchClasses">Search Classes</a></li>
              </ul>
            </li>
            <li><a href="/">Esci</a></li>
          </ul>
          <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
        </div>
      </nav>

  <!--    CONTENUTO DELLA PAGINA  -->

  <div class="row">
    <img src="https://res.cloudinary.com/dukp6c7f7/image/upload/f_auto,fl_lossy,q_auto/s3-ghost//2020/07/CodinGame.jpg" alt="">
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const searchParams = new URLSearchParams(window.location.search);

    var uc_selector = searchParams.get("uc_selector");
    var robotsMenu = searchParams.get("robotsMenu");

    function createMatch() {
      const params = new URLSearchParams();
      params.append('fileID', uc_selector);
      params.append('Opponent', robotsMenu);
        axios.get('/admin/api/MatchStart?' + params)
          .then(function(response) {});
  }
  </script>
</body>
</html>
